---
import { Sprite } from "astro-icon";
import Layout from "../components/Layout.astro";
import { getRandomImgSrc } from "../utils/funcs";
import Card from "../components/Card.astro";

const products = Array(9).fill(0);
---

<Layout>
	<div class="flex gap-4 container h-full">
		<div class="hidden md:block flex-1 max-w-[250px]">
			<div class="bg-base-200 hidden sm:block rounded-box sticky top-20">
				<div class="collapse collapse-arrow">
					<input type="checkbox" class="peer" />
					<div class="collapse-title">Categories</div>
					<div class="collapse-content">
						<div class="space-y-2">
							{
								[
									"All categories",
									"Mobile phones",
									"Tablets",
									"Bikes",
									"Coffee Makers",
									"PC Components",
									"Drones",
								].map((category: string) => {
									return (
										<label class="flex gap-2 items-center" id="category">
											<input
												type="radio"
												name="category"
												class="radio radio-sm"
											/>
											<p>{category}</p>
										</label>
									);
								})
							}
						</div>
					</div>
				</div>
				<div class="collapse collapse-arrow">
					<input type="checkbox" class="peer" />
					<div class="collapse-title">Price</div>
					<div class="collapse-content">
						<input
							type="range"
							min="0"
							max="100"
							value="25"
							class="range"
							step="25"
						/>
						<div class="w-full flex justify-between text-xs px-2">
							<span>|</span>
							<span>|</span>
							<span>|</span>
							<span>|</span>
							<span>|</span>
						</div>
					</div>
				</div>
				<div class="collapse collapse-arrow">
					<input type="checkbox" class="peer" />
					<div class="collapse-title">Rank</div>
					<div class="collapse-content">
						<div class="flex flex-col gap-4">
							{
								Array(5)
									.fill(0)
									.map((_, i) => {
										return (
											<div class="flex items-center gap-2">
												<input type="checkbox" class="checkbox checkbox-sm" />
												<div class="rating rating-md">
													{Array(5)
														.fill(0)
														.map((_, j) => {
															return (
																<input
																	type="radio"
																	name={`rating-${20 * i + 1 + j}as`}
																	class="mask mask-star"
																	checked={4 - i <= j}
																/>
															);
														})}
												</div>
											</div>
										);
									})
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-1 rounded-box">
			<div class="flex justify-between items-center">
				<h1 class="text-[2.5rem] font-bold">
					Catalog
					<span class="text-sm opacity-60">({products.length})</span>
				</h1>
				<div class="flex justify-end gap-2 items-center">
					<div class="btn-group hidden md:inline-flex">
						<button class="btn btn-sm btn-active">
							<Sprite class="w-4 h-4" name="mdi:dots-grid" />
						</button>
						<button class="btn btn-sm btn-outline">
							<Sprite class="w-4 h-4" name="mdi:menu" />
						</button>
					</div>
					<select
						class="select select-sm select-bordered max-w-xs hidden md:inline-flex"
					>
						<option disabled selected>Sort by</option>
						<option>Popular</option>
						<option>Rank</option>
					</select>
				</div>
			</div>
			<div>
				<div class="grid grid-cols-item gap-4">
					{products.map((_, i) => <Card />)}
				</div>
			</div>
		</div>
	</div>
	<div class="btm-nav flex gap-4 md:hidden">
		<button class="ml-4">
			<span class="btm-nav-label btn w-full">Sort</span>
		</button>
		<button class="mr-4">
			<span class="btm-nav-label btn w-full">Filters</span>
		</button>
	</div>
</Layout>

<!-- <input id="sort" type="checkbox" class="drawer-toggle" />
<div class="drawer-content">
	<label for="sort" class="btn btn-primary drawer-button">Open drawer</label>
</div>

<div class="drawer-side">
	<label for="my-drawer" class="drawer-overlay"></label>
	<ul class="menu p-4 w-80 bg-base-100 text-base-content">
		<li><a>Sidebar Item 1</a></li>
		<li><a>Sidebar Item 2</a></li>
	</ul>
</div> -->
