---
import Layout from "../components/Layout.astro";
import Card from "../components/Card.astro";
import { Sprite } from "astro-icon";
import { getRandomImgSrc } from "../utils/funcs";
---

<Layout>
	<div class="container">
		<div class="flex flex-col-reverse sm:flex-row gap-4">
			<div class="flex-1 max-w-xs rounded-lg">
				<ul class="menu bg-base-300 rounded-box">
					{
						Array(10)
							.fill(0)
							.map(() => {
								return (
									<li>
										<a href="#">
											<Sprite class="w-4 h-4" name="mdi:controller" />
											<p>Laptop and software</p>
										</a>
									</li>
								);
							})
					}
				</ul>
			</div>
			<div class="flex-1 bg-base-200 rounded-lg">
				<div
					class="carousel carousel-center space-x-4 rounded-box p-4 h-[480px]"
				>
					{
						Array(10)
							.fill(0)
							.map(() => {
								return (
									<div class="carousel-item">
										<img
											width="400"
											height="480"
											src={getRandomImgSrc()}
											class="object-cover rounded-box"
										/>
									</div>
								);
							})
					}
				</div>
			</div>
		</div>
		<div class="space-y-6 mt-8">
			{
				Array(2)
					.fill(0)
					.map(() => {
						return (
							<div>
								<div class="flex gap-4 items-end justify-between">
									<h3 class="text-4xl font-bold">Popular products</h3>
									<button class="btn btn-sm btn-outline">View All</button>
								</div>
								<div class="grid grid-cols-item gap-4 mt-2">
									{Array(4)
										.fill(0)
										.map(() => {
											return <Card />;
										})}
								</div>
							</div>
						);
					})
			}
		</div>
	</div>
</Layout>
