---
import { Sprite } from "astro-icon";
import Layout from "../components/Layout.astro";
---

<Layout>
	<div class="container">
		<div class="gap-2">
			<div class="h-[700px] carousel carousel-center gap-4">
				{
					Array(5)
						.fill(0)
						.map((_, i) => {
							return (
								<div
									id={`item${i}`}
									class="carousel-item grid grid-rows-3 grid-cols-5 gap-4 w-11/12 [&>a]:bg-base-200 [&>a]:transition-shadow [&>a]:rounded-lg [&>a]:bg-red"
								>
									<a
										href="/product"
										class={`block row-span-1 col-span-1 relative`}
									>
										<img
											width="300"
											height="300"
											class="w-full h-full object-cover rounded-[inherit]"
											src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg"
										/>
										<div class="absolute inset-0 flex w-full h-full px-4 py-2 rounded-[inherit] shadow-[inset_0px_-10px_50px_40px_rgba(0,0,0,0.5)]">
											<div class="flex items-end flex-1">
												<p class="flex-1 font-bold text-3xl text-slate-100">
													Hello world
												</p>
											</div>
										</div>
									</a>
									<a
										href="/product"
										class={`block row-span-1 col-span-2 relative`}
									>
										<img
											width="300"
											height="300"
											class="w-full h-full object-cover rounded-[inherit]"
											src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg"
										/>
										<div class="absolute inset-0 flex w-full h-full px-4 py-2 rounded-[inherit] shadow-[inset_0px_-10px_50px_40px_rgba(0,0,0,0.5)]">
											<div class="flex items-end flex-1">
												<p class="flex-1 font-bold text-3xl text-slate-100">
													Hello world
												</p>
											</div>
										</div>
									</a>
									<a
										href="/product"
										class={`block row-span-1 col-span-2 relative`}
									>
										<img
											width="300"
											height="300"
											class="w-full h-full object-cover rounded-[inherit]"
											src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg"
										/>
										<div class="absolute inset-0 flex w-full h-full px-4 py-2 rounded-[inherit] shadow-[inset_0px_-10px_50px_40px_rgba(0,0,0,0.5)]">
											<div class="flex items-end flex-1">
												<p class="flex-1 font-bold text-3xl text-slate-100">
													Hello world
												</p>
											</div>
										</div>
									</a>
									<a
										href="/product"
										class={`block row-span-2 col-span-2 relative`}
									>
										<img
											width="300"
											height="300"
											class="w-full h-full object-cover rounded-[inherit]"
											src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg"
										/>
										<div class="absolute inset-0 flex w-full h-full px-4 py-2 rounded-[inherit] shadow-[inset_0px_-10px_50px_40px_rgba(0,0,0,0.5)]">
											<div class="flex items-end flex-1">
												<p class="flex-1 font-bold text-3xl text-slate-100">
													Hello world
												</p>
											</div>
										</div>
									</a>
									<a
										href="/product"
										class={`block row-span-1 col-span-2 relative`}
									>
										<img
											width="300"
											height="300"
											class="w-full h-full object-cover rounded-[inherit]"
											src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg"
										/>
										<div class="absolute inset-0 flex w-full h-full px-4 py-2 rounded-[inherit] shadow-[inset_0px_-10px_50px_40px_rgba(0,0,0,0.5)]">
											<div class="flex items-end flex-1">
												<p class="flex-1 font-bold text-3xl text-slate-100">
													Hello world
												</p>
											</div>
										</div>
									</a>
									<a
										href="/product"
										class={`block row-span-1 col-span-1 relative`}
									>
										<img
											width="300"
											height="300"
											class="w-full h-full object-cover rounded-[inherit]"
											src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg"
										/>
										<div class="absolute inset-0 flex w-full h-full px-4 py-2 rounded-[inherit] shadow-[inset_0px_-10px_50px_40px_rgba(0,0,0,0.5)]">
											<div class="flex items-end flex-1">
												<p class="flex-1 font-bold text-3xl text-slate-100">
													Hello world
												</p>
											</div>
										</div>
									</a>
									<a
										href="/product"
										class={`block row-span-1 col-span-1 relative`}
									>
										<img
											width="300"
											height="300"
											class="w-full h-full object-cover rounded-[inherit]"
											src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg"
										/>
										<div class="absolute inset-0 flex w-full h-full px-4 py-2 rounded-[inherit] shadow-[inset_0px_-10px_50px_40px_rgba(0,0,0,0.5)]">
											<div class="flex items-end flex-1">
												<p class="flex-1 font-bold text-3xl text-slate-100">
													Hello world
												</p>
											</div>
										</div>
									</a>
									<a
										href="/product"
										class={`block row-span-1 col-span-2 relative`}
									>
										<img
											width="300"
											height="300"
											class="w-full h-full object-cover rounded-[inherit]"
											src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg"
										/>
										<div class="absolute inset-0 flex w-full h-full px-4 py-2 rounded-[inherit] shadow-[inset_0px_-10px_50px_40px_rgba(0,0,0,0.5)]">
											<div class="flex items-end flex-1">
												<p class="flex-1 font-bold text-3xl text-slate-100">
													Hello world
												</p>
											</div>
										</div>
									</a>
								</div>
							);
						})
				}
			</div>
			<div class="flex gap-2 justify-center mt-2">
				{
					Array(5)
						.fill(0)
						.map((_, i) => {
							return (
								<a
									class="scroll bg-base-300 w-6 h-6 mask mask-circle"
									href={`#item${i}`}
								/>
							);
						})
				}
			</div>
			<div class="space-y-6 mt-6">
				{
					Array(2)
						.fill(0)
						.map(() => {
							return (
								<div>
									<h3 class="text-4xl font-bold">Popular Caterogies</h3>
									<div class="carousel gap-4 mt-2 overflow-auto">
										{Array(5)
											.fill(0)
											.map(() => {
												return (
													<a
														href="/product"
														class="carousel-item flex flex-col bg-base-200 rounded-lg relative group"
													>
														<div class="indicator m-6 mb-0">
															<Sprite
																class="h-8 indicator-item absolute top-0 right-0 hidden group-hover:block cursor-pointer"
																pack="mdi"
																name="heart"
															/>
															<div class="flex justify-center items-center">
																<img
																	width="300"
																	height="200"
																	class="object-contain rounded-lg w-[300px] h-[200px] p-2"
																	src="https://fakeimg.pl/1500x200/"
																/>
															</div>
														</div>
														<div class="flex items-center p-4">
															<div class="flex-1">
																<p class="opacity-60">Electronics</p>
																<p class="font-bold">asdfiasdf kasd faisf</p>
																<div class="flex items-center">
																	<div class="rating items-center">
																		<input
																			type="radio"
																			name="rating-1"
																			class="mask mask-star"
																		/>
																		<input
																			type="radio"
																			name="rating-1"
																			class="mask mask-star"
																			checked
																		/>
																		<input
																			type="radio"
																			name="rating-1"
																			class="mask mask-star"
																		/>
																		<input
																			type="radio"
																			name="rating-1"
																			class="mask mask-star"
																		/>
																		<input
																			type="radio"
																			name="rating-1"
																			class="mask mask-star"
																		/>
																	</div>
																	<div class="flex items-center">
																		<p class="opacity-60 text-sm ml-1">
																			103 view
																		</p>
																	</div>
																</div>
															</div>
															<div>
																<p class="text-3xl font-bold">$29.59</p>
															</div>
														</div>
													</a>
												);
											})}
									</div>
								</div>
							);
						})
				}
			</div>
		</div>
	</div>
</Layout>
