---
import { Sprite } from "astro-icon";
import Layout from "../components/Layout.astro";

const wishlist = Array(5).fill(0);
---

<Layout>
	<div class="container">
		<h1 class="text-5xl font-bold">Wishlist</h1>
		{
			wishlist.length === 0 && (
				<div class="flex flex-col justify-center items-center">
					<Sprite class="w-32 h-32" name="mdi:heart" />
					<h1 class="text-3xl font-bold text-center">
						Oops, your wishlist is empty! Go to
						<a class="text-primary underline" href="/">
							shop
						</a>
					</h1>
				</div>
			)
		}
		{
			wishlist.length !== 0 && (
				<table class="table w-full mt-6">
					<thead>
						<tr>
							<th>
								<label class="cursor-pointer">✕</label>
							</th>
							<th>Name</th>
							<th>Quantity</th>
							<th>Price</th>
							<th />
						</tr>
					</thead>
					<tbody>
						{wishlist.map(() => {
							return (
								<tr class="hover">
									<th>
										<label class="cursor-pointer">✕</label>
									</th>
									<td>
										<div class="flex items-center space-x-3">
											<div class="avatar">
												<div class="mask mask-squircle w-12 h-12">
													<img
														src="https://fakeimg.pl/48x48/"
														alt="Avatar Tailwind CSS Component"
													/>
												</div>
											</div>
											<div>
												<div class="font-bold">STANDOUT BACKPACK</div>
												<div class="text-sm opacity-50">BASEBALL PACK</div>
											</div>
										</div>
									</td>
									<td>
										<div class="flex gap-2">
											<button class="btn btn-square btn-xs">-</button>
											<input
												class="input text-center input-xs bg-base-200 w-16"
												type="text"
												value="1"
											/>
											<button class="btn btn-square btn-xs">+</button>
										</div>
									</td>
									<td>
										<p class="font-bold text-3xl">$12.59</p>
									</td>
									<th>
										<button class="btn btn-ghost btn-xs">details</button>
									</th>
								</tr>
							);
						})}
					</tbody>
					<tfoot>
						<tr>
							<th />
							<th>Name</th>
							<th>Quantity</th>
							<th>
								<p class="font-bold text-3xl">$52.59</p>
							</th>
							<th />
						</tr>
					</tfoot>
				</table>
			)
		}
	</div>
</Layout>
