---
import { Icon } from "astro-icon";
---

<div class="drawer-side">
	<label for="my-drawer" class="drawer-overlay"></label>
	<ul class="menu p-4 w-64 bg-base-100 text-base-content">
		<li>
			<a class="font-bold" href="/account">
				<Icon class="h-8" pack="mdi" name="account" />
				Account
			</a>
		</li>
		<li>
			<a class="font-bold" href="/wishlist">
				<Icon class="h-8" pack="mdi" name="heart" />
				Wishlist
			</a>
		</li>
		<li>
			<a class="font-bold" href="/cart">
				<Icon class="h-8" pack="mdi" name="cart" />
				Cart
			</a>
		</li>
	</ul>
</div>
