---
import { Sprite } from "astro-icon";
---

<div class="drawer-side">
	<label for="my-drawer" class="drawer-overlay"></label>
	<ul class="menu p-4 w-64 bg-base-100 text-base-content">
		<li>
			<a class="font-bold" href="/account">
				<Sprite class="w-8 h-8" name="mdi:account" />
				Account
			</a>
		</li>
		<li>
			<a class="font-bold" href="/wishlist">
				<Sprite class="w-8 h-8" name="mdi:heart" />
				Wishlist
			</a>
		</li>
		<li>
			<a class="font-bold" href="/cart">
				<Sprite class="w-8 h-8" name="mdi:cart" />
				Cart
			</a>
		</li>
	</ul>
</div>
