---
import { Icon } from "astro-icon";
---

<footer class="bg-base-300 py-4">
	<div class="container flex flex-col">
		<div class="footer">
			<div>
				<span class="footer-title">Services</span>
				<a class="link link-hover">Branding</a>
				<a class="link link-hover">Design</a>
				<a class="link link-hover">Marketing</a>
				<a class="link link-hover">Advertisement</a>
			</div>
			<div>
				<span class="footer-title">Company</span>
				<a class="link link-hover">About us</a>
				<a class="link link-hover">Contact</a>
				<a class="link link-hover">Jobs</a>
				<a class="link link-hover">Press kit</a>
			</div>
			<div>
				<span class="footer-title">Legal</span>
				<a class="link link-hover">Terms of use</a>
				<a class="link link-hover">Privacy policy</a>
				<a class="link link-hover">Cookie policy</a>
			</div>
			<div>
				<span class="footer-title">Newsletter</span>
				<div class="form-control">
					<label class="input-group">
						<input
							placeholder="Email"
							type="text"
							class="input input-bordered"
						/>
						<span class="btn btn-primary">subscribe</span>
					</label>
				</div>
			</div>
		</div>
		<div class="divider my-2"></div>
		<div class="footer">
			<div class="items-center grid-flow-col">
				<p>ACME Industries Ltd. <br />Providing reliable tech since 1992</p>
			</div>
			<div class="md:place-self-center md:justify-self-end">
				<div class="flex gap-4">
					<Icon class="h-6" pack="mdi" name="facebook" />
					<Icon class="h-6" pack="mdi" name="instagram" />
					<Icon class="h-6" pack="mdi" name="medium" />
					<Icon class="h-6" pack="mdi" name="telegram" />
				</div>
			</div>
		</div>
	</div>
</footer>
