---
import { Sprite } from "astro-icon";
---

<footer class="bg-base-300 py-4">
	<div class="container flex flex-col">
		<div class="footer">
			<div>
				<span class="footer-title">Company</span>
				<a class="link link-hover" href="#">About us</a>
				<a class="link link-hover" href="#">Contact</a>
				<a class="link link-hover" href="#">Jobs</a>
				<a class="link link-hover" href="#">Press kit</a>
			</div>
			<div>
				<span class="footer-title">Legal</span>
				<a class="link link-hover" href="#">Terms of use</a>
				<a class="link link-hover" href="#">Privacy policy</a>
				<a class="link link-hover" href="#">Cookie policy</a>
			</div>
			<div>
				<span class="footer-title">Newsletter</span>
				<div class="form-control">
					<label class="input-group">
						<input
							placeholder="Email"
							type="text"
							class="input input-bordered"
						/>
						<span class="btn btn-primary">subscribe</span>
					</label>
				</div>
			</div>
		</div>
		<div class="divider my-2"></div>
		<div class="footer">
			<div class="items-center grid-flow-col">
				<p>ACME Industries Ltd. <br />Providing reliable tech since 1992</p>
			</div>
			<div class="md:place-self-center md:justify-self-end">
				<div class="flex gap-4">
					<Sprite class="w-6 h-6" name="mdi:facebook" />
					<Sprite class="w-6 h-6" name="mdi:instagram" />
					<Sprite class="w-6 h-6" name="mdi:medium" />
					<Sprite class="w-6 h-6" name="mdi:telegram" />
				</div>
			</div>
		</div>
	</div>
</footer>
